<!DOCTYPE html>
<html lang="en">
    <head>
        <title>World Population</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!--CSS Link-->
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>


        <h1 id="tittle">World Population by Country (in thousands)</h1>
      <nav>
           <ul>
               <li><a href="/table">TABLE</a></li>
            </ul>
        </nav>
        <iframe src="/plot1" height="600" width="900"></iframe>
        <br>
        <table class="table table-bordered table-hover table-condensed">
            <thead><tr><th title="Field #1">Variant</th>
                <th title="Field #2">Region, subregion, country or area *</th>
                <th title="Field #3">Type</th>
                <th title="Field #4">2,020</th>
            </tr></thead>
            <tbody><tr>
                <td>Estimates</td>
                <td>EASTERN AND SOUTH-EASTERN ASIA</td>
                <td>SDG region</td>
                <td>2,346,709</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>CENTRAL AND SOUTHERN ASIA</td>
                <td>SDG region</td>
                <td>2,014,709</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Southern Asia</td>
                <td>Subregion</td>
                <td>1,940,370</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Eastern Asia</td>
                <td>Subregion</td>
                <td>1,678,090</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>China</td>
                <td>Country/Area</td>
                <td>1,439,324</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>India</td>
                <td>Country/Area</td>
                <td>1,380,004</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>EUROPE AND NORTHERN AMERICA</td>
                <td>SDG region</td>
                <td>1,116,506</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>EUROPE</td>
                <td>SDG subregion</td>
                <td>747,636</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>South-Eastern Asia</td>
                <td>Subregion</td>
                <td>668,620</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>LATIN AMERICA AND THE CARIBBEAN</td>
                <td>SDG region</td>
                <td>653,962</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>NORTHERN AFRICA AND WESTERN ASIA</td>
                <td>SDG region</td>
                <td>525,869</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>South America</td>
                <td>Subregion</td>
                <td>430,760</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>NORTHERN AMERICA</td>
                <td>SDG subregion</td>
                <td>368,870</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>United States of America</td>
                <td>Country/Area</td>
                <td>331,003</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Eastern Europe</td>
                <td>Subregion</td>
                <td>293,013</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Western Asia</td>
                <td>Subregion</td>
                <td>279,637</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Indonesia</td>
                <td>Country/Area</td>
                <td>273,524</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Northern Africa</td>
                <td>Subregion</td>
                <td>246,233</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Pakistan</td>
                <td>Country/Area</td>
                <td>220,892</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Brazil</td>
                <td>Country/Area</td>
                <td>212,559</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Nigeria</td>
                <td>Country/Area</td>
                <td>206,140</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Western Europe</td>
                <td>Subregion</td>
                <td>196,146</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Central America</td>
                <td>Subregion</td>
                <td>179,670</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bangladesh</td>
                <td>Country/Area</td>
                <td>164,689</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Southern Europe</td>
                <td>Subregion</td>
                <td>152,215</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Russian Federation</td>
                <td>Country/Area</td>
                <td>145,934</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Mexico</td>
                <td>Country/Area</td>
                <td>128,933</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Japan</td>
                <td>Country/Area</td>
                <td>126,476</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Philippines</td>
                <td>Country/Area</td>
                <td>109,581</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Northern Europe</td>
                <td>Subregion</td>
                <td>106,261</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Egypt</td>
                <td>Country/Area</td>
                <td>102,334</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Viet Nam</td>
                <td>Country/Area</td>
                <td>97,339</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Turkey</td>
                <td>Country/Area</td>
                <td>84,339</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Iran (Islamic Republic of)</td>
                <td>Country/Area</td>
                <td>83,993</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Germany</td>
                <td>Country/Area</td>
                <td>83,784</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Central Asia</td>
                <td>Subregion</td>
                <td>74,339</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Thailand</td>
                <td>Country/Area</td>
                <td>69,800</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>United Kingdom</td>
                <td>Country/Area</td>
                <td>67,886</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>France</td>
                <td>Country/Area</td>
                <td>65,274</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Italy</td>
                <td>Country/Area</td>
                <td>60,462</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Myanmar</td>
                <td>Country/Area</td>
                <td>54,410</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Republic of Korea</td>
                <td>Country/Area</td>
                <td>51,269</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Colombia</td>
                <td>Country/Area</td>
                <td>50,883</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Spain</td>
                <td>Country/Area</td>
                <td>46,755</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Argentina</td>
                <td>Country/Area</td>
                <td>45,196</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Algeria</td>
                <td>Country/Area</td>
                <td>43,851</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Sudan</td>
                <td>Country/Area</td>
                <td>43,849</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Ukraine</td>
                <td>Country/Area</td>
                <td>43,734</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Caribbean</td>
                <td>Subregion</td>
                <td>43,532</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Iraq</td>
                <td>Country/Area</td>
                <td>40,223</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Afghanistan</td>
                <td>Country/Area</td>
                <td>38,928</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Poland</td>
                <td>Country/Area</td>
                <td>37,847</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Canada</td>
                <td>Country/Area</td>
                <td>37,742</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Morocco</td>
                <td>Country/Area</td>
                <td>36,911</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saudi Arabia</td>
                <td>Country/Area</td>
                <td>34,814</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Uzbekistan</td>
                <td>Country/Area</td>
                <td>33,469</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Peru</td>
                <td>Country/Area</td>
                <td>32,972</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Malaysia</td>
                <td>Country/Area</td>
                <td>32,366</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Ghana</td>
                <td>Country/Area</td>
                <td>31,073</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>AUSTRALIA/NEW ZEALAND</td>
                <td>SDG region</td>
                <td>30,322</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Yemen</td>
                <td>Country/Area</td>
                <td>29,826</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Nepal</td>
                <td>Country/Area</td>
                <td>29,137</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Venezuela (Bolivarian Republic of)</td>
                <td>Country/Area</td>
                <td>28,436</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Côte d&#39;Ivoire</td>
                <td>Country/Area</td>
                <td>26,378</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Dem. People&#39;s Republic of Korea</td>
                <td>Country/Area</td>
                <td>25,779</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Australia</td>
                <td>Country/Area</td>
                <td>25,500</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Niger</td>
                <td>Country/Area</td>
                <td>24,207</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>China, Taiwan Province of China</td>
                <td>Country/Area</td>
                <td>23,817</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Sri Lanka</td>
                <td>Country/Area</td>
                <td>21,413</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Burkina Faso</td>
                <td>Country/Area</td>
                <td>20,903</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Mali</td>
                <td>Country/Area</td>
                <td>20,251</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Romania</td>
                <td>Country/Area</td>
                <td>19,238</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Chile</td>
                <td>Country/Area</td>
                <td>19,116</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Kazakhstan</td>
                <td>Country/Area</td>
                <td>18,777</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Guatemala</td>
                <td>Country/Area</td>
                <td>17,916</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Ecuador</td>
                <td>Country/Area</td>
                <td>17,643</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Syrian Arab Republic</td>
                <td>Country/Area</td>
                <td>17,501</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Netherlands</td>
                <td>Country/Area</td>
                <td>17,135</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Senegal</td>
                <td>Country/Area</td>
                <td>16,744</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Cambodia</td>
                <td>Country/Area</td>
                <td>16,719</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Guinea</td>
                <td>Country/Area</td>
                <td>13,133</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>OCEANIA (EXCLUDING AUSTRALIA AND NEW ZEALAND)</td>
                <td>SDG region</td>
                <td>12,356</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Tunisia</td>
                <td>Country/Area</td>
                <td>11,819</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bolivia (Plurinational State of)</td>
                <td>Country/Area</td>
                <td>11,673</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Belgium</td>
                <td>Country/Area</td>
                <td>11,590</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Haiti</td>
                <td>Country/Area</td>
                <td>11,403</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Cuba</td>
                <td>Country/Area</td>
                <td>11,327</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Melanesia</td>
                <td>Subregion</td>
                <td>11,123</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Dominican Republic</td>
                <td>Country/Area</td>
                <td>10,848</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Czechia</td>
                <td>Country/Area</td>
                <td>10,709</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Greece</td>
                <td>Country/Area</td>
                <td>10,423</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Jordan</td>
                <td>Country/Area</td>
                <td>10,203</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Portugal</td>
                <td>Country/Area</td>
                <td>10,197</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Azerbaijan</td>
                <td>Country/Area</td>
                <td>10,139</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Sweden</td>
                <td>Country/Area</td>
                <td>10,099</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Honduras</td>
                <td>Country/Area</td>
                <td>9,905</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>United Arab Emirates</td>
                <td>Country/Area</td>
                <td>9,890</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Hungary</td>
                <td>Country/Area</td>
                <td>9,660</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Tajikistan</td>
                <td>Country/Area</td>
                <td>9,538</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Belarus</td>
                <td>Country/Area</td>
                <td>9,449</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Austria</td>
                <td>Country/Area</td>
                <td>9,006</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Papua New Guinea</td>
                <td>Country/Area</td>
                <td>8,947</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Serbia</td>
                <td>Country/Area</td>
                <td>8,737</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Israel</td>
                <td>Country/Area</td>
                <td>8,656</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Switzerland</td>
                <td>Country/Area</td>
                <td>8,655</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Togo</td>
                <td>Country/Area</td>
                <td>8,279</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Sierra Leone</td>
                <td>Country/Area</td>
                <td>7,977</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>China, Hong Kong SAR</td>
                <td>Country/Area</td>
                <td>7,497</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Lao People&#39;s Democratic Republic</td>
                <td>Country/Area</td>
                <td>7,276</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Paraguay</td>
                <td>Country/Area</td>
                <td>7,133</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bulgaria</td>
                <td>Country/Area</td>
                <td>6,948</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Libya</td>
                <td>Country/Area</td>
                <td>6,871</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Lebanon</td>
                <td>Country/Area</td>
                <td>6,825</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Nicaragua</td>
                <td>Country/Area</td>
                <td>6,625</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Kyrgyzstan</td>
                <td>Country/Area</td>
                <td>6,524</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>El Salvador</td>
                <td>Country/Area</td>
                <td>6,486</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Turkmenistan</td>
                <td>Country/Area</td>
                <td>6,031</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Singapore</td>
                <td>Country/Area</td>
                <td>5,850</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Denmark</td>
                <td>Country/Area</td>
                <td>5,792</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Finland</td>
                <td>Country/Area</td>
                <td>5,541</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Slovakia</td>
                <td>Country/Area</td>
                <td>5,460</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Norway</td>
                <td>Country/Area</td>
                <td>5,421</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Oman</td>
                <td>Country/Area</td>
                <td>5,107</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>State of Palestine</td>
                <td>Country/Area</td>
                <td>5,101</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Costa Rica</td>
                <td>Country/Area</td>
                <td>5,094</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Liberia</td>
                <td>Country/Area</td>
                <td>5,058</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Ireland</td>
                <td>Country/Area</td>
                <td>4,938</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>New Zealand</td>
                <td>Country/Area</td>
                <td>4,822</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Mauritania</td>
                <td>Country/Area</td>
                <td>4,650</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Panama</td>
                <td>Country/Area</td>
                <td>4,315</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Kuwait</td>
                <td>Country/Area</td>
                <td>4,271</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Croatia</td>
                <td>Country/Area</td>
                <td>4,105</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Republic of Moldova</td>
                <td>Country/Area</td>
                <td>4,034</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Georgia</td>
                <td>Country/Area</td>
                <td>3,989</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Uruguay</td>
                <td>Country/Area</td>
                <td>3,474</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bosnia and Herzegovina</td>
                <td>Country/Area</td>
                <td>3,281</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Mongolia</td>
                <td>Country/Area</td>
                <td>3,278</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Armenia</td>
                <td>Country/Area</td>
                <td>2,963</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Jamaica</td>
                <td>Country/Area</td>
                <td>2,961</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Qatar</td>
                <td>Country/Area</td>
                <td>2,881</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Albania</td>
                <td>Country/Area</td>
                <td>2,878</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Puerto Rico</td>
                <td>Country/Area</td>
                <td>2,861</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Lithuania</td>
                <td>Country/Area</td>
                <td>2,722</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Gambia</td>
                <td>Country/Area</td>
                <td>2,417</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>North Macedonia</td>
                <td>Country/Area</td>
                <td>2,083</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Slovenia</td>
                <td>Country/Area</td>
                <td>2,079</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Guinea-Bissau</td>
                <td>Country/Area</td>
                <td>1,968</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Latvia</td>
                <td>Country/Area</td>
                <td>1,886</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bahrain</td>
                <td>Country/Area</td>
                <td>1,702</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Trinidad and Tobago</td>
                <td>Country/Area</td>
                <td>1,399</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Estonia</td>
                <td>Country/Area</td>
                <td>1,327</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Timor-Leste</td>
                <td>Country/Area</td>
                <td>1,318</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Cyprus</td>
                <td>Country/Area</td>
                <td>1,207</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Fiji</td>
                <td>Country/Area</td>
                <td>896</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Guyana</td>
                <td>Country/Area</td>
                <td>787</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bhutan</td>
                <td>Country/Area</td>
                <td>772</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Solomon Islands</td>
                <td>Country/Area</td>
                <td>687</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Polynesia</td>
                <td>Subregion</td>
                <td>684</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>China, Macao SAR</td>
                <td>Country/Area</td>
                <td>649</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Montenegro</td>
                <td>Country/Area</td>
                <td>628</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Luxembourg</td>
                <td>Country/Area</td>
                <td>626</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Western Sahara</td>
                <td>Country/Area</td>
                <td>597</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Suriname</td>
                <td>Country/Area</td>
                <td>587</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Cabo Verde</td>
                <td>Country/Area</td>
                <td>556</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Micronesia</td>
                <td>Subregion</td>
                <td>549</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Maldives</td>
                <td>Country/Area</td>
                <td>541</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Malta</td>
                <td>Country/Area</td>
                <td>442</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Brunei Darussalam</td>
                <td>Country/Area</td>
                <td>437</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Guadeloupe</td>
                <td>Country/Area</td>
                <td>400</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Belize</td>
                <td>Country/Area</td>
                <td>398</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bahamas</td>
                <td>Country/Area</td>
                <td>393</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Martinique</td>
                <td>Country/Area</td>
                <td>375</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Iceland</td>
                <td>Country/Area</td>
                <td>341</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Vanuatu</td>
                <td>Country/Area</td>
                <td>307</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>French Guiana</td>
                <td>Country/Area</td>
                <td>299</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Barbados</td>
                <td>Country/Area</td>
                <td>287</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>New Caledonia</td>
                <td>Country/Area</td>
                <td>285</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>French Polynesia</td>
                <td>Country/Area</td>
                <td>281</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Samoa</td>
                <td>Country/Area</td>
                <td>198</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saint Lucia</td>
                <td>Country/Area</td>
                <td>184</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Channel Islands</td>
                <td>Country/Area</td>
                <td>174</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Guam</td>
                <td>Country/Area</td>
                <td>169</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Curaçao</td>
                <td>Country/Area</td>
                <td>164</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Kiribati</td>
                <td>Country/Area</td>
                <td>119</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Micronesia (Fed. States of)</td>
                <td>Country/Area</td>
                <td>115</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Grenada</td>
                <td>Country/Area</td>
                <td>113</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saint Vincent and the Grenadines</td>
                <td>Country/Area</td>
                <td>111</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Aruba</td>
                <td>Country/Area</td>
                <td>107</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Tonga</td>
                <td>Country/Area</td>
                <td>106</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>United States Virgin Islands</td>
                <td>Country/Area</td>
                <td>104</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Antigua and Barbuda</td>
                <td>Country/Area</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Isle of Man</td>
                <td>Country/Area</td>
                <td>85</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Andorra</td>
                <td>Country/Area</td>
                <td>77</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Dominica</td>
                <td>Country/Area</td>
                <td>72</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Cayman Islands</td>
                <td>Country/Area</td>
                <td>66</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bermuda</td>
                <td>Country/Area</td>
                <td>62</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Marshall Islands</td>
                <td>Country/Area</td>
                <td>59</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Northern Mariana Islands</td>
                <td>Country/Area</td>
                <td>58</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Greenland</td>
                <td>Country/Area</td>
                <td>57</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>American Samoa</td>
                <td>Country/Area</td>
                <td>55</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saint Kitts and Nevis</td>
                <td>Country/Area</td>
                <td>53</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Faroe Islands</td>
                <td>Country/Area</td>
                <td>49</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Sint Maarten (Dutch part)</td>
                <td>Country/Area</td>
                <td>43</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saint Martin (French part)</td>
                <td>Country/Area</td>
                <td>39</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Turks and Caicos Islands</td>
                <td>Country/Area</td>
                <td>39</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Monaco</td>
                <td>Country/Area</td>
                <td>39</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Liechtenstein</td>
                <td>Country/Area</td>
                <td>38</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Gibraltar</td>
                <td>Country/Area</td>
                <td>34</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>San Marino</td>
                <td>Country/Area</td>
                <td>34</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>British Virgin Islands</td>
                <td>Country/Area</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Bonaire, Sint Eustatius and Saba</td>
                <td>Country/Area</td>
                <td>26</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Palau</td>
                <td>Country/Area</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Cook Islands</td>
                <td>Country/Area</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Anguilla</td>
                <td>Country/Area</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Tuvalu</td>
                <td>Country/Area</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Nauru</td>
                <td>Country/Area</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Wallis and Futuna Islands</td>
                <td>Country/Area</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saint Barthélemy</td>
                <td>Country/Area</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saint Helena</td>
                <td>Country/Area</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Saint Pierre and Miquelon</td>
                <td>Country/Area</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Montserrat</td>
                <td>Country/Area</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Falkland Islands (Malvinas)</td>
                <td>Country/Area</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Niue</td>
                <td>Country/Area</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Tokelau</td>
                <td>Country/Area</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Estimates</td>
                <td>Holy See</td>
                <td>Country/Area</td>
                <td>1</td>
            </tr>
            </tbody></table>
    </body>
</html>
